Package: com.arandomnerd.theme14
Name: Theme14
Version: 1.0.0
Architecture: iphoneos-arm
Description: A test theme
Author: aRandomNerd
Maintainer: aRandomNerd
Section: Themes
Depends: com.spark.snowboard

